.container {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
}

.playBtn {
  padding: 20px;
  background-color: #00fbff;
  color: #000;
  border-radius: 20px;
}
